/* Tokens */
:root{--da-header-bg:9,69,89;--da-header-bg-alpha:.92;--da-shadow:0,0,0;--da-shadow-alpha:.18}

/* Lexend – cobrindo 100–900 */
@font-face{font-family:'Lexend';src:url('../../fonts/Lexend-Thin.ttf') format('truetype');font-weight:100;font-style:normal;font-display:swap}
@font-face{font-family:'Lexend';src:url('../../fonts/Lexend-ExtraLight.ttf') format('truetype');font-weight:200;font-style:normal;font-display:swap}
@font-face{font-family:'Lexend';src:url('../../fonts/Lexend-Light.ttf') format('truetype');font-weight:300;font-style:normal;font-display:swap}
@font-face{font-family:'Lexend';src:url('../../fonts/Lexend-Regular.ttf') format('truetype');font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'Lexend';src:url('../../fonts/Lexend-Medium.ttf') format('truetype');font-weight:500;font-style:normal;font-display:swap}
@font-face{font-family:'Lexend';src:url('../../fonts/Lexend-SemiBold.ttf') format('truetype');font-weight:600;font-style:normal;font-display:swap}
@font-face{font-family:'Lexend';src:url('../../fonts/Lexend-Bold.ttf') format('truetype');font-weight:700;font-style:normal;font-display:swap}
@font-face{font-family:'Lexend';src:url('../../fonts/Lexend-ExtraBold.ttf') format('truetype');font-weight:800;font-style:normal;font-display:swap}
@font-face{font-family:'Lexend';src:url('../../fonts/Lexend-Black.ttf') format('truetype');font-weight:900;font-style:normal;font-display:swap}

/* Tipografia global */
body{font-family:'Lexend',ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'}

/* Acessibilidade */
@media (prefers-reduced-motion:reduce){*{-webkit-animation:none!important;animation:none!important;-webkit-transition:none!important;transition:none!important}}
